@{
    ViewBag.Title = "Registration complete";
}

<div class="jumbotron">
    <h2>Thank you</h2>
    <p class="lead">Your registration is now complete. Please await until administrator confirms your identity as a customer. After confirmation you will be able to create cases and browse your company's cases</p>
    <p><a href="http://www.imgtec.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

