@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Imagination Technologies Coding Skills Test (Information Systems)</p>
    <p><a href="http://www.imgtec.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Create case</h2>
        <p>
            As a customer you can create case to solve by out company. Case will be picked up by one of our agents, who will help you to solve the problem
        </p>
        <p><a class="btn btn-default" href="/Cases/Create">Create case &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Browse your's company cases</h2>
        <p>As a customer you can browse your cases as well as other cases created by your company</p>
        <p><a class="btn btn-default" href="/Cases">Browse cases &raquo;</a></p>
    </div>
    
</div>